	<div class="sixteen columns">
		<h3>2011 Videos</h3>
		<p>Feast your eyes upon these expertly-edited recordings from our 2011 event. We'll release a few videos each week, so check back often, or avail yourself of our <a href="http://feeds.feedburner.com/Html5txVideos">rss feed</a> for updates when new videos are posted.</p>
	</div>
	<% count = 1 %>
	<% videos.count do |video| %>
		<div class="one-third column">
			<h3><a class="bare" href="/videos/<%= video["slug"] %>"><%= video["title"] %></a></h3>
			<h6>// <%= video["speaker"] %></h6>
			<p></p>
			<p><%= video["description"] %></p>
			<p><a href="/videos/<%= video["slug"] %>">Watch Now!</a></p>
		</div>		
	<% end %>